*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body,
#root {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: #f3f4f6;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}
