.App__container {
    @include resp(562) {
        margin-top: 3.8rem;
    }
    width: 26rem;
    margin-top: 0rem;
    height: auto;
    position: relative;
    background: #fdfdfd;
    box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.04);
    border-radius: 1.5rem;
    &--titlearea {
        border-bottom: 0.1rem solid #e6e6ec;
        padding: 2.33rem 0 1.941rem 0rem;
        text-align: center;
        height: auto;
        flex-direction: column;
        display: flex;
        justify-content: center;
        span {
            font: 2.3rem Roboto;
            margin-left: -0.1rem;
        }
        &--image {
            margin-left: 0.32rem;
        }
    }
    &--list {
        counter-reset: item;
        margin-left: 0;
        padding-left: 0;
        font: 1.5rem Roboto;
        color: #000000;
        &--item {
            display: block;
            &:not(:last-child) {
                border-bottom: 0.1rem solid #e6e6ec;
            }
            padding: 1.55rem 1rem 1.653rem 4.6rem;
            &--number {
                position: absolute;
            }
            &--topic {
                font: 1.6rem Roboto;
                color: #000000;
                cursor: pointer;
            }
            &--quantity {
                position: relative;
                top: 0.194rem;
                font: 1.2rem Roboto;
                color: #8a8a8a;
            }
        }
    }
    &--refresh {
        width: 1.4rem;
        height: auto;
        position: relative;
        left: 0.7rem;
        cursor: pointer;
    }
}
