*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: #f3f4f6; }

.App__location {
  position: absolute;
  background: #fdfdfd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
  width: 15rem;
  height: 5rem;
  border-radius: 0 0 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem; }
  @media (max-width: 562px) {
    .App__location {
      left: 50%;
      transform: translateX(-50%);
      border-radius: 0 0 1.5rem 1.5rem;
      width: 24rem; } }
  .App__location input {
    width: 80%;
    position: relative;
    border-width: 0 0 0.1rem 0;
    border-color: #a8a8a8;
    padding: 0.1rem 0.2rem;
    left: 2.5rem;
    font: 1.7rem Roboto;
    margin-top: -0.1rem; }
  .App__location--image {
    width: 3rem;
    height: auto;
    margin-left: 0rem;
    margin-right: 1.9rem; }
    @media (max-width: 562px) {
      .App__location--image {
        width: 1.7rem; } }

.App__donation {
  position: absolute;
  top: 1.5rem;
  right: 2.2rem; }
  .App__donation span {
    font: 1.5rem Roboto; }
    .App__donation span:after {
      content: "";
      display: block;
      background-color: black;
      height: 0.1rem;
      margin-top: 0.5rem; }

.App__container {
  width: 24rem;
  top: 3.8rem;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #fdfdfd;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.04);
  border-radius: 1.5rem; }
  @media (max-width: 562px) {
    .App__container {
      top: 9rem; } }
  .App__container--title {
    border-bottom: 0.1rem solid #e6e6ec;
    padding: 2.33rem 0 1.941rem 0rem;
    text-align: center;
    margin-left: -0.5rem;
    display: block;
    height: 6.9rem;
    font: 2.3rem Roboto; }
    .App__container--title--image {
      margin-left: 0.32rem; }
  .App__container--list {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
    font: 1.5rem Roboto;
    color: #000000; }
    .App__container--list--item {
      display: block;
      padding: 1.55rem 1rem 1.653rem 4.1rem; }
      .App__container--list--item:not(:last-child) {
        border-bottom: 0.1rem solid #e6e6ec; }
      .App__container--list--item--number {
        position: absolute; }
      .App__container--list--item--topic {
        font: 1.6rem Roboto;
        color: #000000;
        cursor: pointer; }
      .App__container--list--item--quantity {
        position: relative;
        top: 0.194rem;
        font: 1.2rem Roboto;
        color: #8a8a8a; }
  .App__container--refresh {
    width: 1.4rem;
    height: auto;
    margin-left: 0.5rem;
    cursor: pointer; }

.App__seemore {
  position: absolute;
  margin-top: 1.2rem;
  right: 1rem;
  cursor: pointer; }
  .App__seemore span {
    font: 14px Roboto;
    line-height: 16px;
    color: #636363; }
  .App__seemore img {
    margin-left: 0.5rem; }

.App__errormessage {
  font: 1.8rem Roboto;
  position: absolute;
  line-height: 150%;
  left: 50%;
  top: 50%;
  text-align: center; }
